html,
body {
	overflow: hidden;
	height: 100%;
	margin: 0px;
}

#layout_container {
	height: 100%;
	width: 100%;
}

.info_container {
	color: white;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.6);
	text-shadow: 0px 0px 3px black;
	line-height: 1.1em;
}

#button_container {
	display: flex;
	justify-content: space-between;
	padding: 0 1.5em 0 1.5em;
}

.ui_button {
	display: flex;
	cursor: pointer;
	width: 1.4em;
	height: 1.4em;
	color: white;
	border: 0;
	font-size: 2.5em;
	padding: 0;
	pointer-events: all;
}

#buttons_top {
	position: relative;
	margin-top: 3em;
	width: 100%;
}

.ui_button_transparent {
	cursor: pointer;
	width: 1.2em;
	height: 1.2em;
	color: white;
	border: 0;
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 2.5em;
	padding: 0;
	pointer-events: all;
}

svg {
	margin: auto;
}

#gps {
	top: 1em;
	display: none;
	border-radius: 0 0.2em 0.2em 0;
}

#center {
	display: none;
	margin-bottom: 0.1em;
	border-radius: 0.2em 0 0 0.2em;
}

#north_up {
	display: none;
	margin-bottom: 0.1em;
	border-radius: 0.2em 0 0 0.2em;
}

#left_ui {
	right: 0;
	position: absolute;
}

.big_font {
	font-size: 1.5em;
}

.small_font {
	font-size: 0.75em;
}

.mid_font {
	font-size: 1.0em;
}


.side_menu {
	display: block;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #313131;
	overflow: hidden;
	transition: 0.5s;
	padding-top: 2em;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

#map_container {
	position: relative;
	height: 100vh;
}

#map_canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#clock_block {
	bottom: 0;
	width: 8em;
	height: 1.4em;
	left: calc(50% - 4em);
	padding: 0.4em 0 0.1em 0;
	position: absolute;
}

#alt_block {
	bottom: 0;
	min-width: 5em;
	height: 2.4em;
	left: 0;
	padding: 0.2em 0.1em 0.4em 0.1em;
	position: absolute;
}

#ete_block {
	bottom: 0;
	min-width: 5em;
	height: 2.4em;
	right: 0;
	padding: 0.2em 0.1em 0.4em 0.1em;
	position: absolute;
}

#top_ui {
	top: 0;
	width: 100%;
	position: fixed;
	pointer-events: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

#top_ui td:first-child {
	border-right: 1px solid white;
}

#top_ui td:nth-child(2) {
	border-right: 1px solid white;
}

#top_ui td:last-child {
	border-left: 1px solid white;
}

#top_ui td {
	padding: 0.2em;
	width: 25%;
}

#bottom_ui {
	bottom: 0;
	width: 100%;
	position: fixed;
	pointer-events: none;
}

#seg_block {
	position: relative;
}

#dest_block {
	line-height: 1.3em;
}

#dest_block table td {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: 0.35em;
}

#dest_block table td:nth-child(2) {
	border-left: 1px solid white;
}


input {
	width: 2.5em;
}

#menu_items {
	display: none;
}

#flight_items {
	display: none;
	height: 100%;
}

#fuel_items {
	display: none;
	height: 100%;
}

#traffic_items {
	display: none;
	height: 100%;
}

#log_items {
	display: none;
	height: 100%;
}

#available_fp_items {
	display: none;
	height: 100%;
}

#atd {
	display: none;
}

#flight_table {
	width: 102em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#flight_table td {
	border: 1px solid white;
	padding-top: 0.35em;
	width: 8.33%;
}

#flight_table thead td {
	background: #595959;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

#flight_table tbody {
	text-align: center;
}

#flight_table input {
	width: 4.1em;
}

#fuel_table {
	width: 68em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#fuel_table td {
	border: 1px solid white;
	padding-top: 0.35em;
	width: 8.33%;
}

#fuel_table thead td {
	background: #595959;
	padding: 0.5em 0.5em 0.5em 0.5em;
}

#fuel_table tbody {
	text-align: center;
}

#fuel_table input {
	width: 4.1em;
}

#flight_table_scroll {
	overflow: auto;
	height: calc(100% - 21em);
}

#fuel_table_scroll {
	overflow: auto;
	height: calc(100% - 19.9em);
}

#menu_title {
	text-align: center;
}

.menu_header {
	padding-left: 1em;
}

.menu_button {
	width: 100%;
	height: 3em;
	margin-top: 1em;
	border: 0;
	cursor: pointer;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.0em;
}

.fullscreen:-webkit-full-screen {
	height: 100%;
}

.fullscreen:fullscreen {
	height: 100%;
}

.fullscreen {
	width: 100%;
}