:root{
	--SCALE: 1;
}

@font-face {
  font-family: "Arial";
  src: url('font/ARIALBD.TTF') format('truetype');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: "Arial";
  src: url('font/ARIAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
	overflow: hidden;
	height: 100%;
	margin: 0px;
	font-family: "Arial";
	font-weight: bold;
}

#layout_container {
	height: 100%;
	width: 100%;
}

.info_container {
	color: white;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.6);
	text-shadow: 0px 0px 3px black;
	line-height: calc(1.1em * var(--SCALE));
}

#button_container {
	display: flex;
	justify-content: space-between;
	padding: 0 calc(1.5em * var(--SCALE)) 0 calc(1.5em * var(--SCALE));
}

.ui_button {
	display: flex;
	cursor: pointer;
	width: calc(4.2em * var(--SCALE));
	height: calc(4.2em * var(--SCALE));
	color: white;
	border: 0;
	padding: 0;
	pointer-events: all;
}

.tab_button {
	display: flex;
	cursor: pointer;
	width: calc(4.2em * var(--SCALE));
	height: calc(4.2em * var(--SCALE));
	color: white;
	border: 0;
	padding: 0;
	pointer-events: all;
	border-radius: calc(0.75em * var(--SCALE)) calc(0.75em * var(--SCALE)) 0 0;
}

#buttons_top {
	position: relative;
	margin-top: calc(3em * var(--SCALE));
	width: 100%;
}

.ui_button_transparent {
	cursor: pointer;
	width: calc(4.2em * var(--SCALE));
	height: calc(4.2em * var(--SCALE));
	color: white;
	border: 0;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 0;
	pointer-events: all;
}

svg {
	margin: auto;
}

#gps {
	display: none;
	border-radius: 0 calc(0.75em * var(--SCALE)) calc(0.75em * var(--SCALE)) 0;
	margin-bottom: calc(0.5em * var(--SCALE));
}

#maps {
	border-radius: 0 calc(0.75em * var(--SCALE)) calc(0.75em * var(--SCALE)) 0;
	margin-bottom: calc(0.5em * var(--SCALE));
}

#center {
	display: none;
	margin-bottom: calc(0.5em * var(--SCALE));
	border-radius: calc(0.75em * var(--SCALE)) 0 0 calc(0.75em * var(--SCALE));
}

#north_up {
	display: none;
	margin-bottom: calc(0.5em * var(--SCALE));
	border-radius: calc(0.75em * var(--SCALE)) 0 0 calc(0.75em * var(--SCALE));
}

#left_ui {
	top: 1em;
	right: 0;
	position: absolute;
}

#right_ui {
	top: 1em;
	position: absolute;
}

.big_font {
	font-size: calc(1.5em * var(--SCALE));
}

.small_font {
	font-size: calc(0.75em * var(--SCALE));
}

.mid_font {
	font-size: calc(1.0em * var(--SCALE));
}


.side_menu {
	display: block;
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #262626;
	overflow: hidden;
	transition: 0.5s;
	padding-top: calc(2em * var(--SCALE));
	color: white;
}

#menu_top_buttons
{
	display: flex;
}

#back_button{
	margin-left: calc(1em * var(--SCALE));
	display: none;
}

#map_container {
	position: relative;
	height: 100vh;
}

#map_canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#clock_block {
	bottom: 0;
	width: calc(8em * var(--SCALE));
	height: calc(1.4em * var(--SCALE));
	left: calc(50% - (4em * var(--SCALE)));
	padding: calc(0.4em * var(--SCALE)) 0 calc(0.1em * var(--SCALE)) 0;
	position: absolute;
}

#alt_block {
	bottom: 0;
	min-width: calc(5em * var(--SCALE));
	height: calc(2.4em * var(--SCALE));
	left: 0;
	padding: calc(0.2em * var(--SCALE)) calc(0.1em * var(--SCALE)) calc(0.4em * var(--SCALE)) calc(0.1em * var(--SCALE));
	position: absolute;
}

#ete_block {
	bottom: 0;
	min-width: calc(5em * var(--SCALE));
	height: calc(2.4em * var(--SCALE));
	right: 0;
	padding: calc(0.2em * var(--SCALE)) calc(0.1em * var(--SCALE)) calc(0.4em * var(--SCALE)) calc(0.1em * var(--SCALE));
	position: absolute;
}

#top_ui {
	top: 0;
	width: 100%;
	position: fixed;
	pointer-events: none;
}

table {
	width: 100%;
	border-collapse: collapse;
}

#top_ui td:first-child {
	border-right: 1px solid white;
}

#top_ui td:nth-child(2) {
	border-right: 1px solid white;
}

#top_ui td:last-child {
	border-left: 1px solid white;
}

#top_ui td {
	padding: calc(0.2em * var(--SCALE));
	width: 25%;
}

#bottom_ui {
	bottom: 0;
	width: 100%;
	position: fixed;
	pointer-events: none;
}

#seg_block {
	position: relative;
}

#dest_block {
	line-height: calc(1.3em * var(--SCALE));
}

#dest_block table td {
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	padding-top: calc(0.35em * var(--SCALE));
}

#dest_block table td:nth-child(2) {
	border-left: 1px solid white;
}


input {
	width: calc(2.5em * var(--SCALE));
}

#menu_items {
	display: none;
}

#menu_flight_plan_buttons{
	display: none;
}

#menu_tabs {
	display: flex;
	padding: 0 calc(1.5em * var(--SCALE)) 0 calc(1.5em * var(--SCALE));
}

#menu_tabs button{
	margin-right: calc(0.75em * var(--SCALE));
}

#zoom_ui{
	display: flex;
	margin-top: calc(1em * var(--SCALE));
}

#reduce_ui_size{
	margin-left: auto;
	margin-right: calc(2em * var(--SCALE));
}

#increase_ui_size{
	margin-right: auto;
	margin-left: calc(2em * var(--SCALE));
}

#zoom_text{
	margin: auto 0;
}

#flight_items {
	display: none;
	height: 100%;
}

#fuel_items {
	display: none;
	height: 100%;
}

#traffic_items {
	display: none;
	height: 100%;
}

#log_items {
	display: none;
	height: 100%;
}

.menu_area{
	background-color: #313131;
	padding-bottom: calc(1em * var(--SCALE));
}

#available_fp_items {
	display: none;
	height: 100%;
}

#atd {
	display: none;
}

#flight_table {
	width: calc(102em * var(--SCALE));
	margin-top: calc(1em * var(--SCALE));
	margin-bottom: calc(1em * var(--SCALE));
}

#flight_table td {
	border: 1px solid white;
	padding-top: calc(0.35em * var(--SCALE));
	width: 8.33%;
}

#flight_table thead td {
	background: #595959;
	padding: calc(0.5em * var(--SCALE));
}

#flight_table tbody {
	text-align: center;
}

#flight_table input {
	width: calc(4.1em * var(--SCALE));
}

#fuel_table {
	width: calc(68em * var(--SCALE));
	margin-top: calc(1em * var(--SCALE));
	margin-bottom: calc(1em * var(--SCALE));
}

#fuel_table td {
	border: 1px solid white;
	padding-top: calc(0.35em * var(--SCALE));
	width: 8.33%;
}

#fuel_table thead td {
	background: #595959;
	padding: calc(0.5em * var(--SCALE));
}

#fuel_table tbody {
	text-align: center;
}

#fuel_table input {
	width: calc(4.1em * var(--SCALE));
}

#flight_table_scroll {
	overflow: auto;
	height: calc(100% - (21em * var(--SCALE)));
}

#fuel_table_scroll {
	overflow: auto;
	height: calc(100% - (19.9em * var(--SCALE)));
}

#menu_title {
	text-align: center;
}

.menu_header {
	padding-left: calc(1em * var(--SCALE));
}

.menu_button {
	width: 100%;
	height: 3em;
	margin-top: 1em;
	border: 0;
	cursor: pointer;
	color: white;
	font-size: calc(1.0em * var(--SCALE));
	font-family: "Arial";
	font-weight: normal;
}

.fullscreen:-webkit-full-screen {
	height: 100%;
}

.fullscreen:fullscreen {
	height: 100%;
}

.fullscreen {
	width: 100%;
}